%body
  .add-record
    %span Add Contact
    
  #popup1
    %span#close-btn1 ×
    %h2 Add Contact
    #new
      = render :partial => "contacts/form"
  #overlay1
  #popup
    %span#close-btn ×
    %h2 Details
    #show
      = render "contacts/show"
  #overlay

  %h1 Contact List
  #search-bar
    %label{for: "search"} Search:
    %input#search{oninput: "searchContacts(this.value)", type: "text" ,:autocomplete =>"off",:placeholder => "Search"}/
  #keypad
    %button.key{onclick: "updateSearch('1')"} 1
    %button.key{onclick: "updateSearch('2ABC')"} 2ABC
    %button.key{onclick: "updateSearch('3DEF')"} 3DEF
    %button.key{onclick: "updateSearch('4GHI')"} 4GHI
    %button.key{onclick: "updateSearch('5JKL')"} 5JKL
    %button.key{onclick: "updateSearch('6MNO')"} 6MNO
    %button.key{onclick: "updateSearch('7PQRS')"} 7PQRS
    %button.key{onclick: "updateSearch('8TUV')"} 8TUV
    %button.key{onclick: "updateSearch('9WXYZ')"} 9WXYZ
    %button.key{onclick: "updateSearch('0')"} 0
   

  %table#contact_list
    = render :partial => "contacts/contact_list"
        
 
